src/main/mule/cicd-ai-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8964c0d-d220-482b-8df7-e97d27ba73e9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-ai-demoFlow" doc:id="02fb4e16-8dbb-4a8f-bedc-d3362bb51073" >
		<http:listener doc:name="Listener" doc:id="a83a950d-5302-4a87-97a3-c3249f72a855" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="34272df4-ca1d-49c8-b952-d4fe81d140fb" message="#[attributes.requestPath]"/>
		<set-payload value="Hello World!" doc:name="Set Payload" doc:id="1ca39fc4-3bb3-4463-b624-05e0e771c2d6" mimeType="text/plain"/>
	</flow>
</mule>
